.header-content {
  display: flex;
  justify-content: space-between;
}

.search-input {
  padding-top: 15px;
}
.container {
  padding-top: 40px;
}
.people-work {
  display: flex;
}

.us-teams {
  margin-top: 20px;
}
