.popup-dot {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  &:hover {
    background-color: #dcdddd;
  }
}
.actions a {
  display: flex;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  &:hover {
    background-color: #dcdddd;
  }
}
.swal2-toast-custom {
  font-size: 2rem !important;
  min-width: 300px !important;
  padding: 1.5em 2em !important;
}
